.first-sec {
    /* border: 1px solid orange; */
    height: 100vh;
    position: relative;
    background-image: url("./cherries.jpg");
    background-size: cover;
}


/* .sec-sec {
    /* border: 1px solid green; 
} */

.center {
    width: 100%;
    right: -40%;
    position: absolute;
    margin-top: 25vh;
    border: 10px solid gold;
    height: 50vh;
    text-align: left;
    display: flex;
    background: transparent;
}

.box1 {
    width: 60%;
    /* border: 1px solid orange; */
    height: 100%;
}

.box2 {
    text-align: left;
    padding: 4rem 2rem;
    padding-left: 7%;
    padding-right: 0px;
    width: 40%;
    height: 100%;
    font-weight: 600;
    overflow-y:auto;
    /* border: 1px solid black; */
}
